.music_list {
    position: absolute;
    top: 5%;
    left: 5%;
    display: block;
    width: 350px;
    height: 400px;
    text-align: left;
    z-index: 20;
    position: relative;
}
.music_list .music_list_item {
    border: solid 1px black;
    height: 25%;
    position: absolute;
    position: relative;
}
.music_list .music_list_item .music_list_img {
    width: 100px;
    height: 100%;
    border-right: solid 1px black;
    position: absolute;
    left: 0;
    top: 0;
}
.music_list .music_list_item .music_list_title {
    width: 180px;
    height: 49px;
    border-bottom: 1px solid black;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 100px;
    top: 0;
}
.music_list .music_list_item .music_list_singer {
    width: 180px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    left: 100px;
    top: 50px;
}
.music_list .music_list_item .music_selection {
    width: 67px;
    height: 99px;
    background-color: orange;
    border: solid black 1px;
    border-right: none;
    border-bottom: none;
    position: absolute;
    left: 280px;
    top: 0;
    cursor: pointer;
    line-height: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.music_list .music_list_item .music_not_selected {
    width: 67px;
    height: 99px;
    background-color: greenyellow;
    border: solid black 1px;
    border-right: none;
    border-bottom: none;
    position: absolute;
    left: 280px;
    top: 0;
    cursor: pointer;
    line-height: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}
.music_list .music_list_item .music_selection:hover {
    background-color: greenyellow;
}