.music_list { /* 데스크톱 */
    position: absolute;
    top: 5%;
    left: 5%;
    display: block;
    width: 350px;
    height: 400px;
    text-align: left;
    z-index: 20;
    position: relative;
}
.music_list .music_list_item {
    border: solid 1px black;
    height: 25%;
    position: absolute;
    position: relative;
}
.music_list .music_list_item .music_list_img {
    width: 100px;
    height: 100%;
    border-right: solid 1px black;
    position: absolute;
    left: 0;
    top: 0;
}
.music_list .music_list_item .music_list_img img {
    width: 100px;
    height: 100px;
}
.music_list .music_list_item .music_list_title {
    width: 180px;
    height: 49px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 100px;
    top: 0;
}
.music_list .music_list_item .music_list_singer {
    width: 180px;
    height: 50px;
    font-size: 20px;
    border-right: 1px solid black;
    position: absolute;
    left: 100px;
    top: 50px;
}
.music_list .music_list_item label {
    position: absolute;
    left: 290px;
    top: 60px;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
}
.music_list .music_list_item .music_selection {
    position: absolute;
    left: -10px;
    top: -60px;
}
.music_list .music_list_item .music_not_selected {
    position: absolute;
    left: -10px;
    top: -60px;
}
input[type=radio] {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: orange;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type=radio]:checked {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: greenyellow;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@media ( max-width: 1023px ) { /* 태블릿 */
    .music_list { /* 데스크톱 */
        position: absolute;
        top: 5%;
        left: 5%;
        display: block;
        width: 350px;
        height: 400px;
        text-align: left;
        z-index: 20;
        position: relative;
    }
    .music_list .music_list_item {
        border: solid 1px black;
        height: 25%;
        position: absolute;
        position: relative;
    }
    .music_list .music_list_item .music_list_img {
        width: 100px;
        height: 100%;
        border-right: solid 1px black;
        position: absolute;
        left: 0;
        top: 0;
    }
    .music_list .music_list_item .music_list_img img {
        width: 100px;
        height: 100px;
    }
    .music_list .music_list_item .music_list_title {
        width: 180px;
        height: 49px;
        border-bottom: 1px solid black;
        font-size: 30px;
        font-weight: 700;
        position: absolute;
        left: 100px;
        top: 0;
    }
    .music_list .music_list_item .music_list_singer {
        width: 180px;
        height: 50px;
        font-size: 20px;
        position: absolute;
        left: 100px;
        top: 50px;
    }
    .music_list .music_list_item label {
        position: absolute;
        left: 290px;
        top: 60px;
        font-size: 25px;
        text-align: center;
        font-weight: 700;
    }
    .music_list .music_list_item .music_selection {
        position: absolute;
        left: -10px;
        top: -60px;
    }
    .music_list .music_list_item .music_not_selected {
        position: absolute;
        left: -10px;
        top: -60px;
    }
    input[type=radio] {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        background-color: orange;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    input[type=radio]:checked {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        background-color: greenyellow;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}
@media ( max-width: 738px ) { /* 모바일 */
    .music_list {
        position: absolute;
        top: 5%;
        left: 5%;
        display: block;
        width: 320px;
        height: 360px;
        text-align: left;
        z-index: 20;
        position: relative;
    }
    .music_list .music_list_item {
        border: solid 1px black;
        height: 25%;
        position: absolute;
        position: relative;
    }
    .music_list .music_list_item .music_list_img {
        width: 90px;
        height: 100%;
        border-right: solid 1px black;
        position: absolute;
        left: 0;
        top: 0;
    }
    .music_list .music_list_item .music_list_img img {
        width: 90px;
        height: 90px;
    }
    .music_list .music_list_item .music_list_title {
        width: 150px;
        height: 44px;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        font-size: 30px;
        font-weight: 700;
        position: absolute;
        left: 90px;
        top: 0;
    }
    .music_list .music_list_item .music_list_singer {
        width: 150px;
        height: 45px;
        font-size: 20px;
        border-right: 1px solid black;
        position: absolute;
        left: 90px;
        top: 45px;
    }
    .music_list .music_list_item label {
        position: absolute;
        left: 255px;
        top: 60px;
        font-size: 25px;
        text-align: center;
        font-weight: 700;
    }
    .music_list .music_list_item .music_selection {
        position: absolute;
        left: -10px;
        top: -60px;
    }
    .music_list .music_list_item .music_not_selected {
        position: absolute;
        left: -10px;
        top: -60px;
    }
    input[type=radio] {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        background-color: orange;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    input[type=radio]:checked {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        background-color: greenyellow;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}