.music_var {
    position: relative;
    top: 10%;
    left: 0;
    vertical-align: center;
}
.music_var .icons {
    position: absolute;
    left: 45%;
    position: relative;
    width: 100px;
}
.icon {
    width: 60px;
    height: 60px;
}
.playButton {
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50px;
    height: 50px;
    opacity: 0.0;
}
.time1 {
    position: absolute;
    top: 60%;
    left: 93%;
    font-weight: 700;
}
.time2 {
    position: absolute;
    top: 60%;
    left: 5%;
    font-weight: 700;
}
.music_var .max_time {
    position: absolute;
    position: relative;
    top: 50%;
    left: auto;
    right: auto;
    display: block;
    width: 90%;
    height: 20px;
    background-color: black;
    margin-top: 20px;
    margin-left: 5%;
}
.date_time {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: green;
}
